# All Images are ignored
# Mostly because I have no idea if the license allows me to distribute then!
# Will check that and add some in the future

# JPEG
*.jpg
*.JPG
*.jpeg
*.JPEG

# Gif Files
*.gif
*.GIF

# Portable Network Graphics
.png
.PNG

# BMP
.bmp
.BMP
